In [1]:
import pandas as pd
df = pd.DataFrame({
    "income" : [10,20,30,40,50],
    "ocean_proximity" : ["Near ocean" , "inland"  , "far ocean" , "inland" , "Near ocean"]
})

In [2]:
df.head()

   income ocean_proximity
0      10      Near ocean
1      20          inland
2      30       far ocean
3      40          inland
4      50      Near ocean

In [3]:
# here standard scaler is for standardization ,, one of the techniques for feature scaling  ,, page - 72
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
num_pipeline = Pipeline([
('imputer', SimpleImputer(strategy="median")),
('attribs_adder', CombinedAttributesAdder()),
('std_scaler', StandardScaler()),
])
new_df = num_pipeline.fit_transform(df)

In [4]:
# the above is a simple pipeline .. page 73

In [ ]:
 ###### must read page 74 , 75