In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import linear_model

In [13]:
df = pd.read_csv("files/homeprices_for_m_reg.csv")
df
df["bedrooms"].median()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
df = df.fillna({
    "bedrooms" : df["bedrooms"].median()
})
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [42]:
reg = linear_model.LinearRegression()
reg.fit(df[["area" , "bedrooms" , "age"]] , df.price )

LinearRegression()

In [19]:
reg.coef_
# here we are bulding a multiple regression model so the equation
# will look something like this.. y = m1x2 + m2x2 +....mnxn + b
# here m are the coffecients or theta.. and x are the features and b is the intercept
# so the coef function returned the m values here
# for intercept use reg.intercept_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [20]:
reg.intercept_

221323.00186540437

In [30]:
reg.predict([[3200,4,0]])
# idk about the warning here but ig i will fix it later

C:\Users\sanat\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([673478.33639199])

In [37]:
# write the predict yrself
m1 = reg.coef_[0]
m2 = reg.coef_[1]
m3 = reg.coef_[2]
area = 3200
bedroom = 4
age = 0
y = m1*area + m2*bedroom + m3*age + reg.intercept_
print(m1 , m2, m3, y )

112.06244194213458 23388.880077939168 -3231.717908632969 673478.3363919917