In [1]:
import pandas as pd
df = pd.DataFrame({
    "income" : [10,20,30,40,50],
    "ocean_proximity" : ["Near ocean" , "inland"  , "far ocean" , "inland" , "Near ocean"]
})

In [2]:
df.head()

   income ocean_proximity
0      10      Near ocean
1      20          inland
2      30       far ocean
3      40          inland
4      50      Near ocean

In [3]:
# here if we are feeding this model into a machine learning model we gotta assign numerical values to the ocean column..

In [4]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_incoder = OrdinalEncoder()

In [6]:
to_change = df["ocean_proximity"]
new_df = ordinal_incoder.fit_transform([to_change])

In [7]:
new_df[:3]

array([[0., 0., 0., 0., 0.]])

In [8]:
ordinal_incoder.categories_

[array(['Near ocean'], dtype=object),
 array(['inland'], dtype=object),
 array(['far ocean'], dtype=object),
 array(['inland'], dtype=object),
 array(['Near ocean'], dtype=object)]

In [9]:
# One issue with this representation is that ML algorithms will assume that two nearby
# values are more similar than two distant values. This may be fine in some cases (e.g.,
# for ordered categories such as “bad”, “average”, “good”, “excellent”), but it is obviously
# not the case for the ocean_proximity column

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
encoder = OneHotEncoder()
ocean_hot = encoder.fit_transform([to_change])

In [14]:
ocean_hot

<1x5 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [ ]:
# Notice that the output is a SciPy sparse matrix, instead of a NumPy array. This is very
# useful when you have categorical attributes with thousands of categories. After onehot
# encoding we get a matrix with thousands of columns, and the matrix is full of
# zeros except for a single 1 per row. Using up tons of memory mostly to store zeros
# would be very wasteful, so instead a sparse matrix only stores the location of the non‐zero elements

In [16]:
encoder.categories_

[array(['Near ocean'], dtype=object),
 array(['inland'], dtype=object),
 array(['far ocean'], dtype=object),
 array(['inland'], dtype=object),
 array(['Near ocean'], dtype=object)]

In [ ]:
# tbh this book is really good