In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [3]:
df = pd.read_csv("files/salaries.csv")
df.head(5)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [4]:
inputs = df.drop("salary_more_then_100k", axis = 1)
target = df["salary_more_then_100k"]

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()
inputs.head(5)

  company                  job     degree
0  google      sales executive  bachelors
1  google      sales executive    masters
2  google     business manager  bachelors
3  google     business manager    masters
4  google  computer programmer  bachelors

In [7]:
target.head(5)

0    0
1    0
2    1
3    1
4    0
Name: salary_more_then_100k, dtype: int64

In [8]:
inputs["company_n"] = le_company.fit_transform(inputs["company"])
inputs["job_n"] = le_job.fit_transform(inputs["job"])
inputs["degree_n"] = le_degree.fit_transform(inputs["degree"])
inputs.tail(5)

     company                  job     degree  company_n  job_n  degree_n
11  facebook      sales executive    masters          1      2         1
12  facebook     business manager  bachelors          1      0         0
13  facebook     business manager    masters          1      0         1
14  facebook  computer programmer  bachelors          1      1         0
15  facebook  computer programmer    masters          1      1         1

In [9]:
inputs_n = inputs.drop(["company" ,"job" , "degree"] , axis=1)

In [18]:
inputs_n.head(4), target[:5]

(   company_n  job_n  degree_n
 0          2      2         0
 1          2      2         1
 2          2      0         0
 3          2      0         1,
 0    0
 1    0
 2    1
 3    1
 4    0
 Name: salary_more_then_100k, dtype: int64)

In [13]:
# its for decesion tree
from sklearn import tree
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(inputs_n , target ,test_size=0.2,train_size=0.8)

In [14]:
model = tree.DecisionTreeClassifier()

In [15]:
model.fit(x_train , y_train)

DecisionTreeClassifier()

In [16]:
model.score(x_test , y_test)

0.5